@model Product

<div class="container">
    <div class="card mt-4 product-card">
        <img class="card-img-top" src="@Model.ImagePath" alt="">
        <div class="card-body">
            <h3 class="card-title product-name">@Model.Name</h3>
            <strong class="d-inline">$</strong><h5 class="d-inline product-price">@Model.Price</h5>
            <p class="card-text">@Model.Description</p>
            <span class="text-warning">★ ★ ★ ★ ☆</span>
            
            @Model.Stars stars
            <button class="mt-3 d-block btn btn-outline-primary product-card-add-btn">Add to cart</button>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-header">
            Product Reviews
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
    </div>
</div>
